- title = has_ci_cd_only_params? ? _('Connect repositories from GitHub') : _('GitHub import')
- page_title title
- breadcrumb_title title
- header_title _("Projects"), root_path

%h3.page-title
  = icon 'github', text: import_github_title

- if github_import_configured?
  %p
    = import_github_authorize_message

  = link_to _('List your GitHub repositories'), status_import_github_path(ci_cd_only: params[:ci_cd_only]), class: 'btn btn-success'

  %hr

%p
  = import_github_personal_access_token_message

= form_tag personal_access_token_import_github_path, method: :post, class: 'form-inline' do
  .form-group
    = text_field_tag :personal_access_token, '', class: 'form-control append-right-8', placeholder: _('Personal Access Token'), size: 40
    = submit_tag _('List your GitHub repositories'), class: 'btn btn-success'

  -# EE-specific start
  = hidden_field_tag :ci_cd_only, params[:ci_cd_only]
  -# EE-specific end

- unless github_import_configured?
  %hr
  %p
    = import_configure_github_admin_message
